<nav id="sidebar" class="shadow-sm   bg-white rounded">



    <ul class="list-unstyled ">
        <p> USD FRUIT</p>
        <li>
            <a routerLink="home">Home</a>
        </li>
        <li>
            <a routerLink="order">Order</a>
        </li>
        <li>
            <a routerLink="signup">Signup</a>
        </li>
        <li>
            <a routerLink="logout">Logout</a>
        </li>
        <li>
            <a routerLink="forget-pass">Forget-Password</a>
        </li>

        <li>
          <a routerLink="Admin/CreateFruitStock" routerLinkActive="active">Create Fruit Stock</a>
        </li>
    </ul>
</nav>

