<p>view-reception works productId: {{productId}}</p>
<a href="" routerLink="reception/update-reception/{{receptionDetail.id}}" routerLinkActive="active" class="btn btn-primary">update reciption</a>
<a href="" routerLink="reception/delete-reception/{{receptionDetail.id}}"  class="btn btn-danger">Delete reciption</a>

<p>{{receptionDetail.your}}</p>
<p>{{receptionDetail.firstName}}</p>
<p>{{receptionDetail.lastName}}</p>
<p>{{receptionDetail.dateOfBirth}}</p>
<p>{{receptionDetail.gender}}</p>
<p>{{receptionDetail.age}}</p>
<p>{{receptionDetail.patientGuardian}}</p>
<p>{{receptionDetail.martialStatus}}</p>
<p>{{receptionDetail.height}}</p>
<p>{{receptionDetail.weight}}</p>
<p>{{receptionDetail.consanguity}}</p>
<p>{{receptionDetail.gender}}</p>
<p>{{receptionDetail.lateralization}}</p>
<p>{{receptionDetail.occupation}}</p>
<p>{{receptionDetail.whatsNumber}}</p>
<p>{{receptionDetail.othernumber}}</p>
<p>{{receptionDetail.emailAddress}}</p>
<p>{{receptionDetail.address}}</p>






