
<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">


                    <form [formGroup]="userkycForm"  (ngSubmit)="postData();">

                      <h3 class="text-center text-info">Login</h3>
                      <div class="form-group">
                          <label for="username" class="text-info">Username:</label><br>
                          <input type="text"  name="username" id="username" class="form-control" formControlName="username" >

                      <div *ngIf="userkycForm.controls['username'].touched && userkycForm.controls['username'].invalid" class="alert-danger">
                        <div *ngIf="userkycForm.controls['username'].errors && userkycForm.controls['username'].errors.required" >Username is required</div>
                      </div>
                    </div>


                      <div class="form-group">
                        <label for="user_address" class="text-info">Address:</label><br>
                        <input type="text" name="user_address" id="username" class="form-control" formControlName="user_address">

                        <div *ngIf="userkycForm.controls['user_address'].touched && userkycForm.controls['user_address'].invalid" class="alert-danger">
                          <div *ngIf="userkycForm.controls['user_address'].errors && userkycForm.controls['user_address'].errors.required" >Address is  required</div>
                        </div>
                      </div>



                    <div class="form-group">
                      <label for="Mob_no" class="text-info">Mobno:</label><br>
                      <input type="text" name="mob_no" id="username" class="form-control" formControlName="mob_no">
                      <div *ngIf="userkycForm.controls['mob_no'].touched && userkycForm.controls['mob_no'].invalid" class="alert-danger">
                        <div *ngIf="userkycForm.controls['mob_no'].errors && userkycForm.controls['mob_no'].errors.required" >Mobile Number is  required</div>
                      </div>
                       </div>


                  <div class="form-group">
                    <label for="pancard_no" class="text-info">PanCard No:</label><br>
                    <input type="text" name="pancard_no" id="username" class="form-control" formControlName="pancard_no" >
                    <div *ngIf="userkycForm.controls['pancard_no'].touched && userkycForm.controls['pancard_no'].invalid" class="alert-danger">
                      <div *ngIf="userkycForm.controls['pancard_no'].errors && userkycForm.controls['pancard_no'].errors.required" >Pancard Number is  required</div>
                    </div>
                    </div>


                <div class="form-group">
                  <label for="username" class="text-info">Aadhar Card No:</label><br>
                  <input type="text" name="aadhar_no" id="username" class="form-control" formControlName="aadhar_no" >
                  <div *ngIf="userkycForm.controls['pancard_no'].touched && userkycForm.controls['pancard_no'].invalid" class="alert-danger">
                    <div *ngIf="userkycForm.controls['pancard_no'].errors && userkycForm.controls['pancard_no'].errors.required" >Pancard Number is  required</div>
                  </div>
                 </div>




              <div class="form-group">
                <label for="username" class="text-info">Email:</label><br>
                <input type="user_emailid" name="user_emailid" id="username" class="form-control" formControlName="user_emailid">
                <div *ngIf="userkycForm.controls['user_emailid'].touched && userkycForm.controls['user_emailid'].invalid" class="alert-danger">
                  <div *ngIf="userkycForm.controls['user_emailid'].errors && userkycForm.controls['user_emailid'].errors.required" >Pancard Number is  required</div>
                </div>
              </div>
                      <div class="form-group">
                          <label for="password" class="text-info">Password:</label><br>
                          <input type="text" name="password" id="password" class="form-control" formControlName="password">
                          <div *ngIf="userkycForm.controls['password'].touched && userkycForm.controls['password'].invalid" class="alert-danger">
                            <div *ngIf="userkycForm.controls['password'].errors && userkycForm.controls['password'].errors.required" >Pancard Number is  required</div>
                          </div>
                        </div>

                      <div class="form-group">
                          <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox" formControlName="agreeterm"></span></label><br>
                          <input type="submit" name="submit" [disabled]="!userkycForm.valid" class="btn btn-info btn-md" value="submit">

                      </div>
                    </form>

                      <div id="register-link" class="text-right">
                          <a href="#" class="text-info">Register here</a>
                      </div>



