 <!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Responsive Animated Login Form Using HTML & CSS & JavaScript (2021)</title>
    </head>
<body>
  <div class="contact-wrapper">
    <div class="erb-image-wrapper img">
      <img src="..\assets\GYM.jpg">
    </div>
    <div class="right_side">
      <h2>Account Login</h2>
      <form>
        <div class="form-row">
          <input type="text" required>
          <span>Username or Email</span>
        </div>
        <div class="form-row">
        
          <input type="password" required>
          <span>Password</span>
        </div>
        <div class="form-row">
            <input type="password" required>
            <span>Confirm Password</span>
          </div>
          
        <div class="form-row"></div>
        <div class="form-row"> 
          <button type="submit">Login to your Account</button>
        </div>
      </form>
      <div class="socials-wrapper">
        <h2>Login with your Social Account</h2>
        <ul>
          <li><a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#" class="youtube"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>


