.img {
    position: absolute;
    height: 280px;
    min-width: 1680px;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.carouselExampleCaptions{
border: black ;
margin-top: 0%;
padding-top: 0%;
}