<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="" class="navbar-brand">CFC CLUB</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">               
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href=""  routerLink="Loginform" routerLinkActive="active">Login Account</a></li>
                <li><a href=""  routerLink="Registrationform" routerLinkActive="active">Register </a></li>
              <li><a href="" routerLink="Sidrbar" routerLinkActive="active">Services</a></li>
                <em><li>&nbsp;</li></em>
            </ul>
        </div>
    </div>
</div>
