#reciptionformcolor{
  text-decoration: darksalmon;


}

form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: .8rem;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
  }
  .container{
   color: black;

  }
  .body{
    margin: auto;

  }

  /*
  p.round3 {
    border: 2px solid red;
    border-radius: 12px;
  }
  */

  .form-control-user{

    border: 2px solid #dddd;
    border-radius: 12px;

  }

  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }



  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
