<p>view-reception works productId: {{productId}}</p>
<a href="" routerLink="reception/update-reception/{{reciptionDetail.id}}" routerLinkActive="active" class="btn btn-primary">update reciption</a>
<a href="" routerLink="reception/delete-reception/{{reciptionDetail.id}}"  class="btn btn-danger">Delete reciption</a>

<p>{{reciptionDetail.your}}</p>
<p>{{reciptionDetail.firstName}}</p>
<p>{{reciptionDetail.lastName}}</p>
<p>{{reciptionDetail.dateOfBirth}}</p>
<p>{{reciptionDetail.gender}}</p>
<p>{{reciptionDetail.age}}</p>
<p>{{reciptionDetail.patientGuardian}}</p>
<p>{{reciptionDetail.martialStatus}}</p>
<p>{{reciptionDetail.height}}</p>
<p>{{reciptionDetail.weight}}</p>
<p>{{reciptionDetail.consanguity}}</p>
<p>{{reciptionDetail.gender}}</p>
<p>{{reciptionDetail.lateralization}}</p>
<p>{{reciptionDetail.occupation}}</p>
<p>{{reciptionDetail.whatsNumber}}</p>
<p>{{reciptionDetail.othernumber}}</p>
<p>{{reciptionDetail.emailAddress}}</p>
<p>{{reciptionDetail.address}}</p>
