<!-- <p>view-all-reciption works!</p>

<table >
  <tr>
    <th>your</th>
    <th>firstName</th>
    <th>lastName</th>
    <th>dateOfBirth</th>
    <th>age</th>
    <th>patientGuardian</th>
    <th>martialStatus</th>
    <th>height</th>
    <th>weight</th>
    <th>consanguity</th>
    <th>gender</th>
    <th>lateralization</th>
    <th>occupation</th>
    <th>whatsNumber</th>
    <th>othernumber</th>
    <th>emailAddress</th>
    <th>address</th>




  </tr>
  <tr *ngFor="let reciption of reciptions"> -->
    <!-- <td>{{reciption.your}}</td>
    <td>{{reciption.firstName}}</td>
    <td>{{reciption.lastName}}</td>
    <td>{{reciption.dateOfBirth}}</td>
    <td>{{reciption.age}}</td>
    <td>{{reciption.patientGuardian}}</td>
    <td>{{reciption.martialStatus}}</td>
    <td>{{reciption.height}}</td>
    <td>{{reciption.weight}}</td>
    <td>{{reciption.consanguity}}</td>
    <td>{{reciption.gender}}</td>
    <td>{{reciption.lateralization}}</td>
    <td>{{reciption.occupation}}</td>
    <td>{{reciption.whatsNumber}}</td>
    <td>{{reciption.othernumber}}</td>
    <td>{{reciption.emailAddress}}</td>
    <td>{{reciption.address}}</td> -->
<!-- <td><button (click)="DeleteUser(reciptions.Userid)"  class="btn btn-danger">Delete</button> -->
  <!-- <button (click)="employeeDetails(employee.id)"class="btn btn-danger">Delete</button></td> -->
  <!-- </td> -->
